.root {
}

.foodStylesList {
    display: flex;
    flex-direction: row;
}

.foodStyles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1em;
    margin-right: 1em;
}

.foodStyleImage {
    height: 120px;
    width: 120px;
    margin-top: 3em;
    margin-bottom: 1em;
}

.label {
    text-align: center;
    font-family: "Alumni Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
}
