.root {
    width: 85%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 5em;
}

.bigTitle {
    font-size: 60px;
    margin-left: 0.5em;
    margin-top: 0.3em;
}

.mainTitle {
    font-size: 36px;
    margin-top: 0.5em;
}

.title {
    font-size: 24px;
}

.orangeText {
    color: #f89b1b;
}

.text {
    font-weight: 500;
}

.container {
    height: 95%;
    width: 95%;
    align-self: center;
    margin-bottom: 2em;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 2em;
}

.image {
    height: 80px;
    margin-bottom: 2em;
}

.backButton {
    border-style: none;
    color: #fff;
    height: 60px;
    width: 150px;
    font-weight: bold;
    font-size: 28px;
    background-color: #ea4c46;
    opacity: 0.9;
}

.forwardButton {
    border-style: none;
    color: #fff;
    height: 60px;
    width: 300px;
    font-weight: bold;
    font-size: 28px;
    background-color: #f89b1b;
}

.checkbox {
    margin-block: 1em;
}

.label {
    margin-left: 0.5em;
    font-size: 24px;
    margin-block: 2em;
    font-weight: 500;
    font-family: "Alumni Sans", sans-serif;
}

.input {
    height: 40px;
    padding-left: 12px;
    width: 200px;
    border-radius: 12px;
    border: 1px solid #c3c3c3;
}

.font {
    font-family: "Alumni Sans", sans-serif;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .bigTitle {
        font-size: 36px;
    }

    .rucksendText {
        font-size: 20px;
    }
}

@media only screen and (min-width: 502px) and (max-width: 768px) {
    .bigTitle {
        font-size: 36px;
    }

    .rucksendText {
        font-size: 20px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 501px) {
    .bigTitle {
        font-size: 28px;
    }

    .rucksendText {
        font-size: 18px;
    }

    .backButton {
        border-style: none;
        color: #fff;
        height: 60px;
        font-weight: bold;
        font-size: 18px;
        background-color: #ea4c46;
        opacity: 0.9;
        width: 45%;
    }

    .forwardButton {
        border-style: none;
        color: #fff;
        height: 60px;
        font-weight: bold;
        font-size: 18px;
        background-color: #f89b1b;
        width: 45%;
        margin-left: 10px;
    }
}
