.wrapper {
    width: 70%;
    height: 100%;
}

.editProfile {
    background-color: #fff;
    height: 600px;
    width: 80%;
    padding: 2em;
}

.profileTitle {
    font-size: 36px;
    margin-bottom: 1em;
}

.orderContainer {
    margin-block: 1.5em;
}

.orderTitle {
    margin-bottom: 1em;
}

.orderDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}
