.root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.container {
    width: 33.33333%;
    margin-top: 2em;
}

.image {
    height: 250px;
    width: 300px;
}

.text {
    margin-top: 0.5em;
    font-size: 24px;
    font-weight: 400;
    color: #3c3c3c;
}
