.root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid red;
}

.wrapper {
    width: 33.33333%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.image {
    height: 200px;
    width: 100%;
}

.middleContainer {
    width: 100%;
    text-align: left;
}

.foodCtgList {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.foodCtg {
    border: 1px solid #000;
    padding: 1px;
    padding-inline: 15px;
    border-radius: 12px;
    margin-left: 10px;
}

.foodCtgText {
    font-size: 18px;
}

.nutritionList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nutritionContainer {
    background-color: #8a8d8e;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 1em;
}

.nutritionText {
    font-size: 24px;
}

.text {
    margin-top: 0.5em;
    font-size: 24px;
    font-weight: 400;
    color: #3c3c3c;
    margin-left: 10px;
}

.button {
    background-color: #ea4c46;
    opacity: 0.8;
    border-style: none;
    height: 50px;
    width: 100%;
    color: #fff;
    margin-top: 1em;
}

.font {
    font-family: "Alumni Sans", sans-serif;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .image {
        height: 150px;
    }

    .nutritionContainer {
        height: 30px;
        width: 30px;
    }

    .text {
        font-size: 18px;
    }

    .nutritionText {
        font-size: 18px;
    }

    .foodCtgList {
        height: 30px;
    }

    .foodCtg {
        padding: 2px;
        padding-inline: 4px;
        margin-left: 5px !important;
    }
    .foodCtgText {
        font-size: 16px;
    }
    .button {
        margin-top: 0px !important;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .image {
        height: 150px;
    }

    .nutritionContainer {
        height: 30px;
        width: 30px;
    }

    .text {
        font-size: 18px;
    }

    .nutritionText {
        font-size: 18px;
    }

    .foodCtgList {
        height: 30px;
    }

    .foodCtg {
        padding: 2px;
        padding-inline: 4px;
        margin-left: 5px !important;
    }
    .foodCtgText {
        font-size: 16px;
    }
    .button {
        margin-top: 0px !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .root {
        flex-direction: column;
    }

    .wrapper {
        width: 100%;
    }

    .container {
        width: 80%;
    }

    .nutritionContainer {
        height: 30px;
        width: 30px;
    }

    .text {
        font-size: 18px;
    }

    .nutritionText {
        font-size: 18px;
    }

    .foodCtgList {
        height: 30px;
    }

    .foodCtg {
        padding: 2px;
        padding-inline: 4px;
        margin-left: 5px !important;
    }
    .foodCtgText {
        font-size: 16px;
    }
}
