.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4em 0 4em 0;
}

.orangeTitle {
    color: #f89b1b;
    font-size: 48px;
    font-weight: 500;
}

.title {
    font-size: 68px;
    font-weight: 500;
}

.text {
    font-size: 24px;
    margin: 1em 0 2em 0;
    font-weight: 500;
}

.font {
    font-family: "Alumni Sans", sans-serif;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .orangeTitle {
        font-family: "Alumni Sans", sans-serif;
        color: #f89b1b;
        font-weight: 500;
        font-size: 24px;
    }

    .title {
        font-family: "Alumni Sans", sans-serif;
        font-size: 36px;
    }

    .text {
        font-size: 18px;
    }

    .servicesList {
        flex-direction: column;
    }
}
