.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bd006c;
    color: #fff;
    padding-bottom: 1em;
    border: 1px solid red;
}

.title {
    font-size: 60px;
    margin-bottom: 0.3em;
}

.text {
    font-size: 48px;
    margin-top: 1em;
    font-weight: 500;
}

.infoText {
    font-size: 24px;
    color: #8a8d8e;
}

.description {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 4em;
}

.font {
    font-family: "Alumni Sans", sans-serif;
}

.ctgContainer {
    position: relative;
    width: 70%;
    height: 100px;
    border: 1px solid #c3c3c3;
    border-radius: 12px;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
}

.ctg {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 18px;
    align-items: center;
    margin-top: 4em;
    width: 100%;
}

.bottomContainer {
    width: 70%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.blogsPostsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.blogPost {
    width: 30%;
    margin-inline: 1em;
    margin-top: 2em;
}

.blogImage {
    width: 100%;
    // height: 170px;
}

.blogPostBottomContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightgrey;
    height: 100%;
}

.blogInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightgrey;
    padding-inline: 1em;
    padding-bottom: 1em;
}

.articleText {
    margin-block: 0.5em;
    font-size: 24px;
    font-weight: 400;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .bottomContainer {
        width: 90%;
    }

    .blogPost {
        margin-inline: 10px !important;
    }

    .articleText {
        font-size: 18px;
    }

    .infoText {
        font-size: 18px;
    }
}
