.root {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1;
}

.firstRow {
    height: 60px;
    background-color: #232b36;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.heartIcon {
    height: 25px;
    width: 25px;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
}

.secondRow {
    height: 60px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navIconOne {
    position: absolute;
    height: 20px;
    width: 20px;
    right: 60px;
}

.navIcon {
    position: absolute;
    height: 20px;
    width: 20px;
    right: 35px;
}

.navContainer {
    width: 80%;
    margin-left: 1.1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
}
