.root {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1;
}

.firstRow {
    height: 60px;
    position: relative;
    background-color: #232b36;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.heartIcon {
    height: 30px;
    width: 30px;
}

.expressIcon {
    height: 35px;
    width: 35px;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
}

.secondRow {
    height: 60px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navIconOne {
    position: absolute;
    height: 23px;
    width: 23px;
    right: 60px;
    top: 20px;
}

.navIcon {
    position: absolute;
    height: 25px;
    width: 25px;
    right: 30px;
    top: 20px;
}

.navContainer {
    width: 80%;
    margin-left: 1.1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
}

.font {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
}

.removeUnderline {
    text-decoration: none;
    color: inherit;
}

.hamburgerMenu {
    display: none;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .logo {
        height: 70px;
        width: 70px;
        left: 10px;
    }

    .titles {
        font-size: 12px;
    }

    .heartIcon {
        height: 20px;
        width: 20px;
    }

    .expressIcon {
        height: 25px;
        width: 25px;
    }

    .firstRow {
        height: 40px;
    }

    .secondRow {
        height: 40px;
    }

    .navTitle {
        font-size: 14px;
    }

    .navIcon {
        top: 10px;
        right: 20px;
        height: 20px;
        width: 20px;
    }

    .navIconOne {
        top: 10px;
        right: 45px;
        height: 18px;
        width: 18px;
    }

    .hamburgerMenu {
        display: none;
    }
}

@media only screen and (max-width: 501px) {
    .titles {
        display: none;
    }

    .navIcon {
        display: none;
    }

    .navIconOne {
        display: none;
    }

    .logo {
        display: none;
    }

    .first {
        display: none;
    }

    .secondRow {
        display: none;
    }

    .heartIcon {
        display: none;
    }

    .expressIcon {
        display: none;
    }

    .hamburgerMenu {
        z-index: 1;
        display: flex;
        color: #fff;
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .menu {
        z-index: 1;
        height: 100%;
        width: 100%;
        background-color: #232b36;
    }

    .menuContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        margin-left: 2em;
        margin-bottom: 1em;
    }

    .navTitle {
        margin-top: 0.4em;
        color: #fff;
    }
}
