.root {
    height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container {
    height: 650px;
    width: 550px;
    background-color: white;
    opacity: 0.9;
    margin-right: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 48px;
    width: 80%;
    margin-top: 0.3em;
}

.text {
    font-size: 22px;
    width: 85%;
    margin-top: 1em;
}
