.root {
    background-color: #f6f4ed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 5em;
    height: 80%;
    width: 60%;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.topContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topUpperContainer {
    display: flex;
    flex-direction: row;
}

.upperLeftContainer {
    width: 55%;
}

.upperRightContainer {
    width: 45%;
}

.topLowerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: 36px;
}

.text {
    color: #3c3c3c;
    margin-top: 0.5em;
    width: 95%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.font {
    font-family: "Poppins", sans-serif;
}

.mainImage {
    height: 300px;
    width: 100%;
}

.imagesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image {
    width: 30%;
    margin-top: 1em;
}

.foodDetailsList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.foodDetailsContainer {
    border: 1px solid black;
    border-radius: 15px;
    padding-block: 5px;
    padding-inline: 18px;
    margin-top: 50px;
    margin-right: 30px;
}

.foodNutritionList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.foodNutritionDetails {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.roundedLabel {
    height: 80px;
    width: 80px;
    background-color: #8a8d8e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
    margin-right: 10px;
}

.menuStyles {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.menuStyleLogo {
    height: 100px;
    width: 100px;
    margin-right: 50px;
    margin-top: 1em;
}

.descriptionContainer {
    width: 95%;
}

.quantityContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
}

.quantityLeftContainer {
    display: flex;
    flex-direction: column;
}

.quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f89b1b;
    border-radius: 12px;
    height: 30px;
    width: 100px;
}

.minus {
    background-color: #f89b1b;
    width: 30%;
    text-align: center;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.plus {
    background-color: #f89b1b;
    width: 30%;
    text-align: center;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cartContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boldText {
    font-size: 24px;
    margin-block: 0.5em;
}

.priceText {
    font-size: 24px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
}

.backButton {
    background-color: #ea4c46;
    opacity: 0.8;
    border-style: none;
    height: 50px;
    width: 200px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.addToCart {
    background-color: #f89b1b;
    border-style: none;
    height: 50px;
    width: 300px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        width: 80%;
    }

    .topUpperContainer {
        flex-direction: column-reverse;
    }

    .upperRightContainer {
        width: 100%;
    }

    .upperLeftContainer {
        width: 100%;
    }

    .menuStyleLogo {
        display: none;
    }

    .menuStylesText {
        display: none;
    }

    .foodNutritionDetails {
        justify-content: space-between;
        align-items: center;
        margin-inline: 0.5em;
    }

    .roundedLabel {
        height: 60px;
        width: 60px;
        margin-top: 1em;
    }
}
