.root {
    background-color: #bd006c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4em 0 4em 0;
}

.title {
    font-size: 48px;
    margin-top: 0.7em;
    color: white;
}

.servicesList {
    display: flex;
    flex-direction: row;
}

.image {
    height: 200px;
    width: 200px;
    margin: 3em 2em 0 2em;
}

.text {
    color: #f89b1b;
    margin-top: 0.7em;
}
