.root {
    background-color: #a4cb38;
    height: 100%;
    padding-bottom: 4em;
}

.bgImage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding-bottom: 4em;
}

.title {
    font-size: 60px;
    margin-bottom: 0.3em;
}

.text {
    font-size: 48px;
    margin-top: 1em;
}

.description {
    font-size: 24px;
    font-weight: 500;
}

.font {
    font-family: "Alumni Sans", sans-serif;
}
.root {
    background-color: #a4cb38;
    height: 100%;
    padding-bottom: 4em;
}

.bgImage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding-bottom: 4em;
}

.title {
    font-size: 60px;
    margin-bottom: 0.3em;
}

.text {
    font-size: 48px;
    margin-top: 1em;
}

.description {
    font-size: 24px;
    font-weight: 500;
    margin-top: 1em;
}

.font {
    font-family: "Alumni Sans", sans-serif;
}
