.sidebar {
    width: 30%;
    height: 660px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebarTitle {
    margin-left: 24px;
}

.menuItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    width: 80%;
    background-color: #fff;
    margin-bottom: 1em;
}
